.u-center-text {
  text-align: center;
}
.u-display-flex {
  display: flex;
}
.u-flex-justify {
  justify-content: center;
}

.u-margin-bottom-8 {
  margin-bottom: 8rem;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-medium {
  margin-bottom: 8rem;
}
.u-width-50 {
  width: 50%;
}

.u-padding-left-15 {
  padding-left: 15%;
}

.u-padding-right-15 {
  padding-right: 15%;
}

.u-margin-right-1 {
  margin-right: 1rem;
}
