.u-center-text {
  text-align: center !important;
}
.u-display-flex {
  display: flex;
}
.u-flex-justify {
  justify-content: center;
}
.u-flex-grow-1 {
  flex-grow: 1;
}

.u-margin-bottom-8 {
  margin-bottom: 8rem;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-portrait) {
    margin-bottom: 3rem !important;
  }
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-portrait) {
    margin-bottom: 5rem !important;
  }
}

.u-width-40 {
  width: 40%;
}
.u-width-50 {
  width: 50%;
}

.u-padding-left-15 {
  padding-left: 15%;

  @include respond(tab-portrait) {
    padding-left: 0 5%;
  }
}

.u-padding-x-15 {
  padding: 0 15%;

  @include respond(tab-portrait) {
    padding: 0 5%;
  }
}

.u-padding-right-15 {
  padding-right: 15%;

  @include respond(tab-portrait) {
    padding-right: 5%;
  }
}

.u-margin-right-1 {
  margin-right: 1rem;
}

.u-margin-right-2 {
  margin-right: 2rem;
}

.u-margin-right-3 {
  margin-right: 3rem;
}

.u-margin-right-7 {
  margin-right: 7rem;
}

.u-container {
  margin: 0 15%;

  @include respond(tab-portrait) {
    margin: 0 5%;
  }
}
